<div class="row">
    <div class="col-md-9">
        <h3><u>{{formatDate resolution.date 'MMMM Do YYYY'}}</u></h3>
        
        <div class="card">
            <div class="card-content">
                <h2>{{resolution.title}}</h2>
                <hr>
                <p class="resolution-body" id="resolution-text">This Resolution: {{stripTags resolution.body}}</p>
            </div>
        </div>
        <section class="comment">
            <div class="card-content2">
                <section class="updates-title title-updates">Updates</section>
                    <form method="post" action="/resolutions/update/{{resolution.id}}">
                        <textarea name="updateBody" class="update-body"></textarea>
                        <label>Post an update on your resolution</label>
                        <input type="submit" value="Submit Update" class="btn btn-success">
                    </form>
            </div>
        </section>
        {{#each resolution.updates}}
            <section role="listitem" class="comment">
                <div class="card-content2">
                    <h4>{{formatDate updateDate 'MMMM Do YYYY'}}</h6>
                    <hr>
                    <p><span class="updateUser">{{updateUser.name}}</span>: {{updateBody}}</p>
                    
                </div>
            </section>
        {{/each}}
    </div>
</div>
